:root {

    /* Color palet propieties */
    --greenDark: #3c4232;
    --greenStrong: #525945;
    --greenAntique: #777c6e;
    --greenMid: #969b86;
    --greenLight: #cbcec0;
    --yellowStrong: #dfb62d;
    --yellowBoton: #806b00;
    --yellowLight: #cbc3ba;
    --yellowMid: #b79e80;
    --SlateLavanda: #7a6d6f;
    --CoffeToast: #948a7e;
    --gray: #eeeeee;
    --black: #0d0d0d;
    --blanco: #ffffff;

    /* Fuentes */

    --fuentelinks: "Outfit", sans-serif;
    --fuenteTitulo: "Playfair Display", serif;
    --fuenteTextos: "Poppins", sans-serif;

}

/*
* {
    outline: 1px solid red;
} Permite evidenciar fallas
*/
html {
    box-sizing: border-box;
    font-size: 62.6%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Globales */

body {
    background-color: var(--greenStrong);
    font-size: 1.5rem;
    line-height: 1.5;
}

p {
    font-family: var(--fuenteTextos);
    font-size: 1.6rem;
    color: var(--gray);
}

a {
    text-decoration: none;
    color: var(--greenLight);
    text-transform: uppercase;
    font-family: var(--fuentelinks);
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.titulo {
    text-align: center;
    margin: 2rem 0;

}

.titulo__sub {
    text-align: center;
    margin: 1rem 0;
    color: var(--SlateLavanda);
}

.color__nosotros {
    background-color: var(--gray);
}

/* Headings */

h1,
h2,
h3 {
    font-family: var(--fuenteTitulo);
    text-align: justify;
    color: var(--greenLight);
}

h1 {
    font-size: 3.3rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 1.6rem;
}

hr {

    border: 0.5px solid var(--gray);
}

/** Bloque header **/

.header {
    display: flex;
    justify-content: center;
}

.header--nosotros {
    background-color: var(--greenStrong);
}

.header__logo {
    width: 18rem;
    margin: 3rem 0;
    transition: transform 0.3s ease;
    transform-origin: center center;
}

.header__logo:hover {
    transform: scale(1.03);
}

/** Bloque footer **/

.footer {
    background-color: var(--greenDark);

    padding: 2rem 1rem;

}

.footer__texto {
    color: var(--greenLight);
    text-align: center;
    font-size: 1.2rem;
}

/** Bloque Navegacion **/

.navegacion {
    background-color: var(--greenAntique);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 5rem;

}

.navegacion__enlace {
    /*margin-right: 9rem; - Anterior spacing*/
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

.navegacion__enlace {
    transition: color 0.3s ease;
}

/* Clase para quitar el ultimo margin
.navegacion__enlace:last-of-type{
    margin: 0;
}
*/
.navegacion__enlace:hover {
    color: var(--yellowStrong);
}

.navegacion__enlace--activo {
    color: var(--greenDark);
}

/** Contenedor **/

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1rem;
    /* Agrega seguridad en móviles */
}

.grid {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/** Clases botones **/

.btn {
    display: flex;
    justify-content: end;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 0;
    border: none;
    font-family: var(--fuentelinks);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.btn__form,
.btn__form--shop {
    width: 100%;
    padding: 0.8rem;
    color: var(--gray);
    border-radius: 0.5rem;
    font-family: var(--fuentelinks);
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn__form {
    background-color: var(--greenDark);
}

.btn__form--shop {
    background-color: var(--yellowBoton);
}


@media (min-width: 768px) {
    .btn__form {
        width: 12rem;
        margin: 0;
    }

    .btn__form--shop {
        width: 18rem;
        margin: 0;
    }
}

.btn__form:hover,
.btn__form--shop:hover {
    background-color: var(--yellowStrong);
    color: var(--greenStrong);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
} 


/** Bloque footer **/

.producto {
    background-color: var(--CoffeToast);
    padding: 1.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.producto:hover {
    transform: translateY(-5px);
    /* Eleva ligeramente al pasar el mouse */
    box-shadow: 0 6px 18px var(--greenDark);
}

.producto__imagen {
    width: 100%;
    transition: filter 0.3s ease;
}

.producto__imagen:hover {
    filter: brightness(0.7);
    /* oscurece la imagen al 70% */
}

.producto__informacion hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 0.5rem 0;
}

.producto__informacion--nombre {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: var(--yellowLight);
    letter-spacing: 0.1rem;
}

.producto__informacion--precio {
    font-family: var(--fuentelinks);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;

}

/* Imagenes Relleno*/
.grafico {
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;

}

.grafico--1 {
    grid-row: 2 / 3;
    background-image: url(/Img/grafico1.jpg);


}

.grafico--2 {
    background-image: url(/Img/grafico2.jpg);
    grid-row: 8 / 9;


}

@media (min-width: 768px) {
    .grafico--2 {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/* Nosotros seccion */

.nosotros {
    display: grid;
    justify-content: center;
    gap: 2rem;
}

@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
    }
}

.nosotros__contenido--parrafo1,
.nosotros__contenido--parrafo2 {
    font-size: 1.3rem;
    padding: 0 1rem;
    margin: 0;
    color: var(--SlateLavanda);
    text-align: justify;
    width: 100%;
}

@media (min-width: 768px) {

    .nosotros__contenido--parrafo1,
    .nosotros__contenido--parrafo2 {
        padding: 0;
    }

}

.nosotros__contenido--imagen1,
.nosotros__contenido--imagen2 {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 0.8rem;
}

.formulario {
    background: var(--yellowLight);
    margin-top: 2rem;
    padding: 2rem 2.2rem;
    display: grid;
    grid-column: 1 / 3;
    border-radius: 0.8rem;
}

@media (min-width:768px) {
    .formulario {
        padding: 2rem 5rem;
    }
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto auto;
        column-gap: 2rem;
        row-gap: 0.8rem;
    }
}

.campo:nth-child(7) {
    grid-column: 1 / 4;
    /* ocupa todas las columnas */
}

.campo input,
.campo select,
.campo textarea {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem;
    color: var(--CoffeToast);
    font-size: 1.48rem;
}

input:disabled,
button:disabled {
    background-color: var(--gray);
    color: var(--SlateLavanda);
    cursor: not-allowed;
}

input:focus,
select:focus,
textarea:focus {
    outline: 2px solid var(--greenMid);
    box-shadow: 0 0 5px var(--greenLight);
}

.campo {
    font-family: var(--fuentelinks);
    font-size: 1.8rem;
    color: var(--greenDark);
}

.campo label,
.campo select {
    display: block;
    margin-bottom: 0.5rem;
}

.campo label {
    color: var(--greenStrong);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (min-width: 768px) {
    .boton {
        display: flex;
        margin-top: 1rem;
        justify-content: end;

    }
}

.boton__form:hover {
    background-color: var(--yellowStrong);
    color: var(--greenStrong);
}

.leyenda {
    font-family: var(--fuenteTextos);
    font-size: 1.8rem;
    color: var(--greenStrong);
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin-top: 2rem;

}

fieldset {
    border: none;
    outline: none;
}

.iconos {
    background-color: var(--greenMid);
    padding: 2rem 8rem 1rem 8rem;
    margin-top: 2rem;

}

.bloques {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    text-align: center;
}

.bloque {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bloque__titulo {
    font-family: var(--fuenteTextos);
    font-weight: 700;
    color: var(--greenDark);
    line-height: 2rem;
    text-transform: uppercase;
    margin: 1rem 0;
}

.bloque__parrafo {
    font-weight: 100;
    font-size: 1.2rem;
    margin-top: 0rem;
}

.bloque__imagen {
    max-width: 80px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/** Página Producto **/

.galeria {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    column-gap: 3rem;
    margin-bottom: 2rem;
}

.galeria__imagen {
    border: 0.5rem solid var(--greenLight);
    order: 1;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.galeria__miniaturas {
    background-color: var(--greenLight);
    border: 0.5rem solid var(--greenLight);
    order: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.galeria__contenido {
    order: 3;
}

.galeria__contenido h3 {
    color: var(--gray);
    margin: 0;
}


@media (min-width: 768px) {
    .galeria {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
        column-gap: 3rem;
        margin-bottom: 4rem;
    }

    .galeria__imagen {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

    }

    .galeria__miniaturas {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .galeria__contenido {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        align-self: start;
    }
}
.galeria__contenido p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 100;
    color: var(--greenLight);
    text-align: justify;
    margin-bottom: 2rem;
}

.galeria__contenido p span {
    font-weight: 500;
    color: var(--gray);
}

.categoria {
    border-color: var(--greenAntique);
}


.categoria__campo {
    /** 
    border-width: 1rem;
    border-style: solid; 
    **/
    flex: 1;
    font-family: var(--fuentelinks);
    font-size: 1.2rem;
    text-align: center;
    color: var(--gray);
    border: 0.3rem solid var(--greenLight);
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 0.5rem;
    min-width: 0; /* Previene overflow */
    box-sizing: border-box;
    margin: 0 0.2rem;
    margin-bottom: 2rem;
}